# Lambda Functions - Lab

## Introduction|

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

# Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [9]:
#Your code here
df['stars_squared'] = df['stars'].map( lambda x: x**2)
df.head()
df.describe()

,Unnamed: 0,cool,funny,stars,useful,stars_squared
count,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000,2610.000000
mean,2493.045977,0.229119,0.211877,3.724521,0.872414,16.195785
std,1424.679063,0.713175,0.793281,1.524670,1.862308,9.589324
min,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,1283.750000,0.000000,0.000000,3.000000,0.000000,9.000000
50%,2442.000000,0.000000,0.000000,4.000000,0.000000,16.000000
75%,3712.500000,0.000000,0.000000,5.000000,1.000000,25.000000
max,4998.000000,14.000000,16.000000,5.000000,24.000000,25.000000

# Dates
Select the month from the date string using a lambda function.

In [4]:
# Your code here
df['date'].map( lambda x: x[5:7] ).head()

0    11
1    10
2    09
3    02
4    06
Name: date, dtype: object

# What is the average number of words for a yelp review?
Do this with a single line of code!

In [13]:
# Your code here
df['text'].map(lambda x: len(x.split())).sum() / df['text'].count()

77.06551724137931

# Create a new column for the number of words in the review.

In [15]:
#Your code here
df['text_words'] = df['text'].map(lambda x: len(x.split()))
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,text_words
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32

## Rewrite the following as a lamda function. Create a new column 'Review_Length'

In [18]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals
rewrite_as_lambda('short one')

'Short'

In [23]:
#Your code here
strings = ['short']
(lambda value: 'Short' if len(value) < 50 else 'Medium' if len(value) < 80 else 'Long')

# Level Up: Dates Adavanced!
<img src="date_format_map.png" width=500>  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [24]:
#Your code here
df['date'] = df['date'].map(lambda x: x[8:] + '-' + x[7:] + '-' + x[:4])
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,text_words
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,11--13-2012,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58
1,2,jtQARsP6P-LbkyjbO1qNGg,1,10--23-2014,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,09--05-2014,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30
3,5,vgfcTvK81oD4r50NMjU2Ag,0,02--25-2011,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82
4,10,yFumR3CWzpfvTH2FCthvVw,0,06--15-2016,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone elses code that happens to use lambdas.